<form >
  <input name="user[first_name]" value="<%= user.first_name %>">
  <input name="user[last_name]" value="<%= user.last_name%>">
  <div class="e-divider-2"></div>
  <p>
   <input name="user[bio]" value="<%=user.bio%>" style: "height: 225px" %>
   <input type="hidden" name="form" value="bio">
  </p>
</form>