<h3 class="font-accident-two-normal e-uppercase"><%= @user.full_name %> <i class="fa fa-pencil-square-o" aria-hidden="true" data-select="edit" data-type="bio"></i></h3>
<div class="e-divider-2"></div>

<p>
  <%= user.bio %>
</p>