<div class="e-divider-4"></div>
<% projects.each_slice(2) do |two_projects| %>
  <div class="row">
    <% two_projects.each do |project| %>
    <div class="col-md-6">
       <i class="pe-7s-target"></i>
       <h4 class="font-accident-two-normal e-uppercase"><%= project.name %></h4>
       <div class="e-divider-1"></div>
       <p class="small">
         <%= image_tag project.screenshot.url(:medium), style: "border-bottom: none; padding-bottom: 1px;" %>
       </p>
       <div class="e-divider-1"></div>
       <p class="small">
         <%= projects.first.description %>
       </p>
       <div class="e-divider-4"></div>
    </div>
    <% end %>
  </div>
<% end %>
