<% if remotipart_submitted? %>

  <%- rendering = j render(partial: 'projects/form', locals: {project: @project}).to_str %>
  $("#new-project").html("<%= rendering %>")
  $("#panel-update").append("<div class='panel panel-success custom'>successfully added!</div>")
<% else %>
  $("#new-project").html("<%= j render(partial: 'projects/form', locals: {project: @project}) %>")
  $("#panel-update").append("<%= j render(partial: 'projects/success') %>")
<% end %>


