
<section class="intro">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <img src="images/aboutus/aboutme.png" class="aboutme-image" width="190" alt="Hello is it me you're looking for!?">
      </div>
    </div>

    <div class="row">   
      <div class="col-md-12 text-center">
        <div class="intro-content">
          <h1>Hello. I'm Folio, i'm a "<em>job </em>" living in "<em>country</em> "</h1>
          <h2>Specialized in effective, userfriendly and good looking websites.</h2>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- end intro section -->

<!-- begin aboutme section -->
<section class="aboutme">
  <div class="container">

    
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6">
        <h3>Is it me <strong>you're</strong> looking for!?</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed haec quidem liberius ab eo dicuntur et saepius. Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. Ita graviter et severe voluptatem secrevit a bono. Itaque ab his ordiamur. Vide, quaeso, rectumne sit. Apparet statim, quae sint officia, quae actiones. Id est enim, de quo quaerimus.
        </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <h3>Why <strong>you</strong> must choose me?</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed haec quidem liberius ab eo dicuntur et saepius. Nec vero sum nescius esse utilitatem in historia, non modo voluptatem. Ita graviter et severe voluptatem secrevit a bono. Itaque ab his ordiamur. Vide, quaeso, rectumne sit. Apparet statim, quae sint officia, quae actiones. Id est enim, de quo quaerimus.
        </p>
      </div>
  
    </div>
  </div>
</section>
<!-- end aboutme section -->

<!-- begin services section -->
<section class="services">
  <div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="service">
          <i class="fa fa-desktop"></i>
          <h3>Web design</h3>
          <p>
            Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit integer.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="service">
          <i class="fa fa-pencil"></i>
          <h3>Graphic Design</h3>
          <p>
            Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit integer.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="service">
          <i class="fa fa-camera"></i>
          <h3>Photography</h3>
          <p>
            Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit integer.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="service">
          <i class="fa fa-sitemap"></i>
          <h3>Project Management</h3>
          <p>
            Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit integer.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end services section -->

<!-- begin portfolio section -->
<section class="portfolio">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        
        <article class="block-thumbnail">
          <a href="#" class="block-thumb">
            <div class="block-image">
              <div class="overlay">
                <div class="icon">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            
              <img src="images/thumbs/image1.jpg" alt="portfolio item">
            </div>
          </a>

          <div class="block-data">
            <h3>
              <a href="#">Red Pepper on Wood</a>
            </h3>
            <span class="block-category">Branding</span>
            <span class="block-category">Photography</span>
          </div>
        </article>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        
        <article class="block-thumbnail">
          <a href="#" class="block-thumb">
            <div class="block-image">
              <div class="overlay">
                <div class="icon">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            
              <img src="images/thumbs/image2.jpg" alt="portfolio item">
            </div>
          </a>

          <div class="block-data">
            <h3>
              <a href="#">Football in Grass</a>
            </h3>
            <span class="block-category">Branding</span>
          </div>
        </article>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        
        <article class="block-thumbnail">
          <a href="#" class="block-thumb">
            <div class="block-image">
              <div class="overlay">
                <div class="icon">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            
              <img src="images/thumbs/image3.jpg" alt="portfolio item">
            </div>
          </a>

          <div class="block-data">
            <h3>
              <a href="#">People on Overlook</a>
            </h3>
            <span class="block-category">Branding</span>
            <span class="block-category">Art Direction</span>
          </div>
        </article>

      </div>
  
    </div>

  </div>
</section>
<!-- end portfolio section -->

<!-- begin cta section -->
<section class="calltoaction">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Want to collaborate for <strong>you're</strong> next projects?</h3>
        <a href="#" class="btn btn-border">Ok, lets go!</a>
      </div>
    </div>
  </div>
</section>
<!-- end cta section -->

